:root{
    --body-background-color : #2d2013;
    --font-family : Verdana, Geneva;
    --boarder-color : #dedede;
}
*{
    box-sizing: border-box ;
}
body{
    background-color: var(--body-background-color);
    color: #fff;
    margin: 0;
    font-family: var(--font-family);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.flex{
    display: flex;
}

input , button{
    padding: 8px 10px;
    border: 1px solid var(--boarder-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 14px;
}

.search-btn{
    border-left: 0 ;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input[type="text"]{
    width: 300px;
}














.random-btn{
    margin-left: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media screen and (max-width: 600px) {
    input[type="text"]{
        width: 100%;
    }
}